@keyframes introduction {
    0% {
      content: "C";
    }
    1% {
      /* your styles here */
      content: "C";
    }
    2% {
      /* your styles here */
      content: "Co";
    }
    3% {
      /* your styles here */
      content: "Cod";
    }
    4% {
      /* your styles here */
      content: "Codi";
    }
    5% {
      /* your styles here */
      content: "Codin";
    }
    6% {
      /* your styles here */
      content: "Coding ";
    }
    7% {
      /* your styles here */
      content: "Coding i";
    }
    8% {
      /* your styles here */
      content: "Coding is";
    }
    9% {
      /* your styles here */
      content: "Coding isn";
    }
    10% {
      /* your styles here */
      content: "Coding isn't";
    }
    11% {
      /* your styles here */
      content: "Coding isn't a ";
    }
    12% {
      /* your styles here */
      content: "Coding isn't a t";
    }
    13% {
      /* your styles here */
      content: "Coding isn't a to";
    }
    14% {
      /* your styles here */
      content: "Coding isn't a too";
    }
    15% {
      content: "Coding isn't a tool.";
    }
    16% {
      content: "Coding isn't a tool.";
    }
    17% {
      content: "Coding isn't a tool.";
    }
    18% {
      content: "Coding isn't a too";
    }
    19% {
      content: "Coding isn't a to";
    }
    20% {
      content: "Coding isn't a t";
    }
    21% {
      content: "Coding isn't a";
    }
    22% {
      content: "Coding isn't";
    }
    23% {
      content: "Coding isn";
    }
    24% {
      content: "Coding is";
    }
    25% {
      content: "Coding i";
    }
    26% {
      content: "Coding";
    }
    27% {
      content: "Codin";
    }
    28% {
      content: "Codi";
    }
    29% {
      content: "Codit";
    }
    30% {
      content: "Cdit's";
    }
    31% {
      content: "Cit's a";
    }
    32% {
      content: "it's an";
    }
    33% {
      content: "it's an ar";
    }
    34% {
      content: "it's an art";
    }
    35% {
      content: "it's an art.";
    }
    36% {
      content: "it's an art.";
    }
    37% {
      content: "it's an art.";
    }
    38% {
      content: "it's an art.";
    }
    39% {
      content: "it's an art.";
    }
    40% {
      content: "it's an art.";
    }
    41% {
      content: "it's an art.";
    }
    42% {
      content: "it's an art";
    }
    43% {
      content: "it's an ar";
    }
    44% {
      content: "it's an";
    }
    45% {
      content: "it's a";
    }
    46% {
      content: "it's";
    }
    47% {
      content: "it'so";
    }
    48% {
      content: "i'so";
    }
    49% {
      content: "'so.";
    }
    50% {
      content: "so.";
    }
    51% {
      content: "so.";
    }
    52% {
      content: "so.";
    }
    53% {
      content: "so..";
    }
    54% {
      content: "so..";
    }
    55% {
      content: "so..";
    }
    56% {
      content: "so...";
    }
    57% {
      content: "so...";
    }
    58% {
      content: "so...";
    }
    59% {
      content: "";
    }
    60% {
      content: "W";
    }
    61% {
      content: "Whe";
    }
    62% {
      content: "wher";
    }
    63% {
      content: "where";
    }
    64% {
      content: "Where a";
    }
    65% {
      content: "Where ar";
    }
    66% {
      content: "Where are";
    }
    67% {
      content: "Where are t";
    }
    68% {
      content: "Where are th";
    }
    69% {
      content: "Where are the";
    }
    70% {
      content: "Where are the.";
    }
    71% {
      content: "Where are the.";
    }
    72% {
      content: "Where are the..";
    }
    73% {
      content: "Where are the.. W";
    }
    74% {
      content: "Where are the.. WI";
    }
    75% {
      content: "Where are the.. WIN";
    }
    76% {
      content: "Where are the.. WING";
    }
    77% {
      content: "Where are the.. WINGS";
    }
    78% {
      content: "Where are the.. WINGS?";
    }
    79% {
      content: "Where are the.. WINGS?";
    }
    80% {
      content: "Where are the.. WINGS?";
    }
    81% {
      content: "Where are the.. WINGS?";
    }
    82% {
      content: "Where are the.. WINGS?";
    }
    83% {
      content: "Where are the.. WINGS?";
    }
    84% {
      content: "Where are the.. WINGS?";
    }
    85% {
      content: "Where are the.. WINGS?";
    }
    86% {
      content: "Where are the. wiNGS?";
    }
    87% {
      content: "Where are the wings?";
    }
    88% {
      content: "Where are the wings?";
    }
    89% {
      /* your styles here */
    }
    90% {
      /* your styles here */
    }
    91% {
      /* your styles here */
    }
    92% {
      /* your styles here */
    }
    93% {
      /* your styles here */
    }
    94% {
      /* your styles here */
    }
    95% {
      /* your styles here */
    }
    96% {
      /* your styles here */
    }
    97% {
      /* your styles here */
    }
    98% {
      /* your styles here */
    }
    99% {
      /* your styles here */
    }
    100% {
      /* your styles here */
    }
  }  

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}