.arrow-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ffffff00;
  animation: txt-pulse 15s infinite ease-in-out;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: border-pulse 15s infinite ease-in-out;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.arrow-button:hover {
  animation: pulse 15s infintie ease-in-out;
  transform: scale(1.1);
}

.arrow-button::after {
  margin-left: 8px;
  font-weight: bold;
}


@keyframes border-pulse {
  0% {
    border: 2px solid #E6D6FF;
  }
  25% {
    border: 2px solid #A1D8D9;
  }
  50% {
    border: 2px solid #FFD1B3;
  }
  75% {
    border: 2px solid #A3B9D1;
  }
  100% {
    border: 2px solid #E6D6FF;
  }  
}

@keyframes pulse {
  0% {
    background-color: #E6D6FF;
  }
  25% {
    background-color: #A1D8D9;
  }
  50% {
    background-color: #FFD1B3;
  }
  75% {
    background-color: #A3B9D1;
  }
  100% {
    background-color: #E6D6FF;
  }  
}

@keyframes txt-pulse {
  0% {
    color: #E6D6FF;
  }
  25% {
    color: #A1D8D9;
  }
  50% {
    color: #FFD1B3;
  }
  75% {
    color: #A3B9D1;
  }
  100% {
    color: #E6D6FF;
  }  
}