@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.petal {
    display: inline-block;
    animation: pulse 7s infinite ease-in-out;
    background: linear-gradient(45deg, #E6D6FF, #A1D8D9, #FFD1B3, #A3B9D1);
    background-size: 500% 500%;
    animation: wave 15s infinite ease-in-out;
    border: black;
    width: 100px;
    height: 150px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    margin: auto;
    transition: transform 0.5s ease-out;
    animation: floating 15s ease-in-out infinite;
}

#p-1:hover { border: 3px, solid #007BFF; }
#p-2:hover { border: 3px, solid #FFC300; }
#p-3:hover { border: 3px, solid #28A745; }
#p-4:hover { border: 3px, solid #8A2BE2; }

#main {
    margin: 0;
    height: 100vh;
    animation: pulse 15s infinite ease-in-out;
    background: linear-gradient(45deg, #E6D6FF, #A1D8D9, #FFD1B3, #A3B9D1);
    background-size: 400% 400%;
    animation: wave 15s infinite ease-in-out;
}

#interval {
  background: black;
  margin: 0;
  padding: 0;
  color: #c4c4c4;
  outline: hidden;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

.int-div {
  position: relative;
  width: 83%;
  height: 175px;
  margin: 7% auto;
}

.int-h1 {
  position: absolute;
  width: 100%;
  height: 50%;
  font-size: 45px;
}

.int-h1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  line-height: 48px;
  left: 30%;
  top: 50%;
  animation: introduction 25s linear 1;
  animation-fill-mode: forwards;
}

html,body{ margin:0; padding:0; height:100%; width:100%; }

.full-size{
  height:100%;
  width:100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}

.hidden {display: none;}

#p-1 { float: right; margin-top: 100px; margin-right: 35%; border-radius: 77% 23% 70% 30% / 100% 30% 70% 0%; }
#p-2 { float: left; margin-top: 100px; margin-left: 35%; border-radius: 23% 77% 30% 70% / 30% 100% 0% 70%; }
#p-3 { position: absolute; bottom: 0; right: 0; margin-bottom: 100px; margin-right: 35%; border-radius: 30% 70% 23% 77% / 0% 70% 30% 100%; }
#p-4 { position: absolute; bottom: 0; left: 0; margin-bottom: 100px; margin-left: 35%; border-radius: 70% 30% 77% 23% / 70% 0% 100% 30%; }

.shortcut { display: inline-block; font-family: 'Courier New', monospace; font-size: 14px; font-weight: bold; color: #333; background-color: #f0f0f0; border: 2px solid #ccc; border-radius: 5px; padding: 5px 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); }


/* .int_p {
  font-family: Pacifico; 
  font-size: xx-large; 
  text-align: center;             FAILURE. KEPT AS ARCHIVE. (Pacifico font important)
  margin-top: 10%;
  color: #ffffff;
} */


@keyframes pulse {
  0% {
    background-color: #E6D6FF;
  }
  25% {
    background-color: #A1D8D9;
  }
  50% {
    background-color: #FFD1B3;
  }
  75% {
    background-color: #A3B9D1;
  }
  100% {
    background-color: #E6D6FF;
  }  
}

@keyframes wave {
    0% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
}

@keyframes floating {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(5px, -10px) rotate(-5deg);
    }
    50% {
      transform: translate(-5px, -20px) rotate(5deg);
    }
    75% {
      transform: translate(5px, -10px) rotate(-5deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
}


@keyframes flasher{
  0%{background-color:transparent;}
  50%{background-color:white;}
  100%{background-color: transparent;}
}