<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='intel.css') }}">
        <link href="{{ url_for('static', filename='next.css') }}" rel="stylesheet">
    </head>
    <body>
        <a href="/home" type="button" class="next">&laquo;</a>
        <h1 class="title" style="animation: fadeIn 1s;">Explanation For:</h1>
        <div class="container" style="animation: fadeIn ease-in-out 3s;">
            <div class="one">
                <div class="box" >
                    "{{ selected_text }}"
                </div>
            </div>
            <div class="two">
                <div class="box">
                    {{ explanation|safe }}
                </div>
            </div>
        </div>
    </body>
</html>