{% extends "layout_secondary.html" %}

{% block title %}Welcome..{% endblock %}

{% block body %}

    <div id="interval" class="full-size">
        <div class="int-div">
            <h1 class="int-h1"></h1>
        </div>
    </div>

    <div id="main" class="hidden">
        <a id="p-1" class="petal" href="/wishes"></a>
        <a id="p-2" class="petal" href="/innovation"></a>
        <a id="p-3" class="petal" href="/yourturn"></a>
        <a id="p-4" class="petal" href="/intelligence"></a>    
    </div>

{% endblock %}